{% include 'patrocars/partials/head.html' %}


<body>
    {% include 'patrocars/partials/header.html' %}

    <main>
        <div class="container-sm mt-5" style="width:70vw">
            <h2>Veiculos</h2>
            <button class="btn btn-primary">
                <a href="{% url 'patrocars:criar_veiculo' %}">Novo</a>
            </button>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Modelo</th>
                        <th scope="col">Cor</th>
                        <th scope="col">Ano de Fabricação</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for veiculo in veiculos %}
                        <tr>
                            <td>{{ veiculo.modelo.nome }}</td>
                            <td>{{ veiculo.cor }}</td>
                            <td>{{ veiculo.ano_fabricacao }}</td>
                            <td>R$ {{ veiculo.valor }}</td>
                            <td>{{ veiculo.modelo.montadora.nome }}</td>
                            <td>
                                <button class="btn btn-warning"><a href="{% url 'patrocars:detalhe_veiculo' veiculo.id %}" >Detalhes</a></button>
                                <button class="btn btn-success"><a href="{% url 'patrocars:editar_veiculo' veiculo.id %}" >Editar</a></button>
                                <button class="btn btn-danger"><a href="{% url 'patrocars:excluir_veiculo' veiculo.id%}" >Deletar</a></button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">Nenhum veículo cadastrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    

</body>
</html>