<header class="container">
    <div class="container-titulo">
        <span><i class="fa-solid fa-car-rear"></i></span>
        <span>
            <h1 class="titulo">PatroCars</h1>
        </span>
        <nav>
            <ul>
                <li><a href="{% url 'patrocars:lista_montadoras' %}">Montadoras</a></li>
                <li><a href="{% url 'patrocars:lista_modelos' %}">Modelos</a></li>
                <li><a href="{% url 'patrocars:lista_veiculos' %}">Veículos</a></li>
            </ul>
        </nav>
    </div>
</header>