{% include 'patrocars/partials/head.html' %}
{% load crispy_forms_tags %}


<body>
    {% include 'patrocars/partials/header.html' %}

    <div class="container-sm mt-5" style="width: 500px;">
        <h2>Editar Modelo de Veículo</h2>
        <button class="btn btn-secondary"><a href="{% url 'patrocars:detalhe_modelo' modelo.id %}">Cancelar</a></button>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

    

</body>
</html>