{% include 'patrocars/partials/head.html' %}


<body>
    
    {% include 'patrocars/partials/header.html' %}

    <main>
        <h2>Lista de Montadoras</h2>
        
        <button>
            <a href="{% url 'patrocars:criar_montadora' %}">Novo</a>
        </button>
        
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>País</th>
                    <th>Ano de Fundação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for montadora in montadoras %}
                    <tr>
                        <td>{{ montadora.nome }}</td>
                        <td>{{ montadora.pais }}</td>
                        <td>{{ montadora.ano_fundacao }}</td>
                        <td>
                            <button><a href="{% url 'patrocars:detalhe_montadora' montadora.id %}">Detalhes</a></button>
                            <button><a href="{% url 'patrocars:editar_montadora' montadora.id %}">Editar</a></button>
                            <button><a href="{% url 'patrocars:excluir_montadora' montadora.id %}">Deletar</a></button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Nenhuma montadora cadastrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    

</body>
</html>