{% include 'patrocars/partials/head.html' %}


<body>
    
    {% include 'patrocars/partials/header.html' %}

    <main>
        
        <div class="container-sm mt-5" style="width:50vw">
            <h2>Montadoras</h2>
            
            <button class="btn btn-primary">
                <a href="{% url 'patrocars:criar_montadora' %}">Novo</a>
            </button>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">País</th>
                        <th scope="col">Ano de Fundação</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for montadora in montadoras %}
                        <tr>
                            <td>{{ montadora.nome }}</td>
                            <td>{{ montadora.pais }}</td>
                            <td>{{ montadora.ano_fundacao }}</td>
                            <td>
                                <button class="btn btn-warning"><a href="{% url 'patrocars:detalhe_montadora' montadora.id %}" >Detalhes</a></button>
                                <button class="btn btn-success"><a href="{% url 'patrocars:editar_montadora' montadora.id %}" >Editar</a></button>
                                <button class="btn btn-danger"><a href="{% url 'patrocars:excluir_montadora' montadora.id %}" >Deletar</a></button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma montadora cadastrada.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    

</body>
</html>