

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}


main {
    margin-top: 10px;
}

.custom-container {
    display: flex;
    justify-content: center;
    padding: 10px 0px 5px 0px;  
    margin: 0;
    background-color: #39B54A;
    box-shadow: 3px 3px 10px #1d5c25;
    /* background-color: rgb(136, 5, 103); */
}


.container-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1.titulo {
    font-family: "DM Serif Text", serif;
    font-weight: 200;
    font-style: normal;
}



nav > a {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav > a:hover {
   color: #1d5c25;
}


.navegacao-patrocars {
    display: flex;
    justify-content: center;
}

.link-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
    color: white;
}

.link-home:hover {
    color: #1d5c25;
}

.span-icon {
    font-size: 3rem;
}

.titulo {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}


.principal {
    width: 50vw;
}


/* Página Home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
   
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    height: 30vh;
   
}


.titulo-home {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
  }
  
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}